name: CI

on: [pull_request, push, workflow_dispatch]

jobs:
  specs:
    runs-on: ubuntu-latest

    name: Ruby ${{ matrix.ruby-version }}, Rails ${{ matrix.ruby-version }}, LCH ${{ matrix.legacy_connection_handling }}

    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '2.7'
          - '3.0'
          - '3.1'
          - '3.2'
        gemfile:
          - rails6.1
          - rails7.0
        legacy_connection_handling:
          - 'true'
          - 'false'
        include:
          - {ruby-version: '2.7', gemfile: rails6.0, legacy_connection_handling: 'true'}
          - {ruby-version: '3.0', gemfile: rails6.0, legacy_connection_handling: 'true'}
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
      LEGACY_CONNECTION_HANDLING: ${{ matrix.legacy_connection_handling }}
    steps:
      - uses: zendesk/checkout@v2
      - name: Set up Ruby
        uses: zendesk/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: RSpec
        run: bundle exec rspec

  specs_successful:
    name: Specs passing?
    needs: specs
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if ${{ needs.specs.result == 'success' }}
          then
            echo "All specs pass"
          else
            echo "Some specs failed"
            false
          fi

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: zendesk/checkout@v4
      - name: Set up Ruby
        uses: zendesk/setup-ruby@v1
        with:
          ruby-version: "2.7"
          bundler-cache: true
      - run: bundle exec rake standard
