name: CI

on: push

jobs:
  specs:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - 2.6
          - 2.7
          - 3.0
        gemfile:
          - rails4.2
          - rails5.0
          - rails5.1
          - rails5.2
          - rails6.0
          - rails6.1
        exclude:
          - ruby-version: 2.7
            gemfile: rails4.2
          - ruby-version: 3.0
            gemfile: rails4.2
          - ruby-version: 3.0
            gemfile: rails5.0
          - ruby-version: 3.0
            gemfile: rails5.1
          - ruby-version: 3.0
            gemfile: rails5.2
          # These fail due to a legit bug:
          - ruby-version: 3.0
            gemfile: rails6.0
          - ruby-version: 3.0
            gemfile: rails6.1
    env:
      BUNDLE_GEMFILE: gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - uses: zendesk/checkout@v2
      - name: Set up Ruby
        uses: zendesk/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: RSpec
        run: bundle exec rspec
